body,
h1,
p,
ul,
li,
footer {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: content-box radial-gradient(#31e84d, skyblue);
}

h1 {
    font-size: 180px;
    color: #48abe0;
    margin-bottom: 10px;
    text-shadow: 0 2px 4px darkslategray;
    animation: shadow-pulse 3s infinite, fade-in 1s ease-out, color-change 4s infinite;
}

@keyframes shadow-pulse {

    0%,
    100% {
        text-shadow: 0 2px 4px darkslategray;
    }

    50% {
        text-shadow: 0 8px 16px darkslategray;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes color-change {
    0% {
        color: #48abe0;
    }

    50% {
        color: #65b9e6;
    }

    100% {
        color: #48abe0;
    }
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;

}

.round {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 30px;
    font-size: 18px;
    cursor: pointer;
    background-color: #336699;
    color: #fff;
    transition: background-color 0.3s, transform 0.2s;
}

.round:hover {
    background-color: #225577;
    transform: scale(1.05);
}

footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f9f9f9;
    padding: 10px 0;
    color: #777;
    border-top: 1px solid #ddd;
}

footer a {
    color: #777;
    text-decoration: none;
    font-weight: bold;
    border-bottom: 1px dashed #777;
    transition: color 0.3s, border-bottom-color 0.3s;
}

footer a:hover {
    color: #333;
    border-bottom-color: #333;
}

button.round {
    background-color: #48abe0;
    color: white;
    border: none;
    padding: 5px;
    font-size: 31px;
    height: 130px;
    width: 130px;
    box-shadow: 0 2px 4px darkslategray;
    border-radius: 50%;
}

button.round:hover {
    background-color: #418cbf;
}

button.round:active {
    box-shadow: 0 0 2px darkslategray;
    transform: translateY(2px);
}

h4 {
    color: #48abe0;
    font-weight: bold;
    font-size: 50px;
}

.rules {
    color: #48abe0;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 25px;
}